.icon-menu {
    font-size: 2.5rem;
    border: solid rgb(228, 228, 228, 0.3) .4px;
    border-radius: 5px;
    font-family: 'Lobster', cursive;
}

.img-menu {
    width: 100%;
    filter: blur(.5px);
}

